# GoP2P test files
*.gob
test.json
testSubsharding.json
test.goP2PGuide

# VSCode preferences
.vscode/

# Vagrant log files
ubuntu-xenial-16.04-cloudimg-console.log
ubuntu-xenial-16.04-cloudimg-console.log

# Vagrant backups/containers
.vagrant/

# TLS Certs
*.pem